@media only screen and (max-device-width: 361px) {
  body {
    background-color: grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif; }

  .container {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    margin-left: auto;
    margin-right: auto; }

  header {
    background-color: red;
    padding-top: 2vh;
    padding-bottom: 2vh;
    grid-column: span 4;
    grid-row: span 1;
    grid-template-columns: repeat(4, 1fr);
    position: fixed;
    display: grid;
    color: red;
    font-size: 2vh; }

  .menu_logo_open {
    grid-column: 1/2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    text-decoration: none;
    font-size: 5.5vh;
    cursor: pointer; }

  .ftkd_logo {
    grid-column: span 2/4; }

  .menu {
    position: fixed;
    background: white;
    left: -50vw;
    width: 50vw;
    height: 100vh;
    transition: linear 0.3s; }

  .menu_logo_close {
    left: 0;
    size: 50px;
    top: 30px;
    cursor: pointer; }

  .menu div {
    grid-template-rows: repeat(8, 1fr);
    display: grid; }

  .loginB {
    grid-row: 1 / 2; }

  .omB {
    grid-row: 2 / 3; }

  .show {
    left: 0vw; }

  .fade {
    background-color: rgba(255, 255, 255, 0.76); } }
