<%# <h3>My Google Maps Demo</h3> %>
    <!--The div element for the map -->
<div class="börja">
    <h2>Börja träna!</h2>
    <a class="transparent_btn red" href="logga_in.html">Anmäl dig                                            </a>
</div>



<h2 class="var_text">Var finns vi?</h2>


<div class="goggle_map">
    <div id="map"></div>
</div>
    