<div class="title">
  <h3>Vad Är Taekwondo?<h3>
</div>

<div class="first">
    <div class="row tul">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="img/tul.jpg">
          <span class="card-title">Mönster</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, quis mauris ipsum aliquam orci metus pretium, </p>
        </div>
        <div class="card-action">
          <a href="http://www.itfsverige.se/">Läs mer</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="second">
    <div class="row tul">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="img/Sparring.jpg">
          <span class="card-title">Kamp</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, quis mauris ipsum aliquam orci metus pretium, </p>
        </div>
        <div class="card-action">
          <a href="http://www.itfsverige.se/">Läs mer</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="third">
    <div class="row tul">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="img/Kross.jpg">
          <span class="card-title">Kross</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, quis mauris ipsum aliquam orci metus pretium, </p>
        </div>
        <div class="card-action">
          <a href="http://www.itfsverige.se/">Läs mer</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fourth">
    <div class="row tul">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="img/Specialteknik.jpg">
          <span class="card-title">Spec</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, quis mauris ipsum aliquam orci metus pretium, </p>
        </div>
        <div class="card-action">
          <a href="http://www.itfsverige.se/">Läs mer</a>
        </div>
      </div>
    </div>
  </div>
</div>