@media only screen and (max-device-width: 361px) {
  body {
    background-color: pink;
    margin: 0;
    padding: 0; }

  .container {
    background-color: grey;
    display: grid;
    width: 100vw;
    height: 150vh;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 2vh;
    margin-left: auto;
    margin-right: auto; }

  header {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: black;
    grid-row: span 1; }

  .new_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); }

  .menu_logo_open {
    grid-column: 1/2;
    margin-left: 2vw;
    color: red;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%; }

  .logo {
    grid-column: 2/5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto; }

  main.first {
    grid-row: span 1;
    color: black; }

  .menu {
    position: fixed;
    background: white;
    left: -50vw;
    width: 50vw;
    height: 100vh;
    transition: linear 0.3s; }

  .menu_logo_close {
    left: 0;
    size: 50px;
    top: 30px;
    cursor: pointer; }

  .menu div {
    grid-template-rows: repeat(8, 1fr);
    display: grid; }

  .loginB {
    grid-row: 1 / 2; }

  .omB {
    grid-row: 2 / 3; }

  .show {
    left: 0vw; }

  .fade {
    background-color: rgba(255, 255, 255, 0.76); } }
