<div class="first">
    <div class="row tul">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="img/tul.jpg">
          <span class="card-title">Tul</span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, quis mauris ipsum aliquam orci metus pretium, </p>
        </div>
        <div class="card-action">
          <a href="#">Läs mer</a>
        </div>
      </div>
    </div>
  </div>
</div>